$green: #4ae3b5;
$dark-green: #1ece99;

$grey: #929292;
$dark-grey: #444;

$black: #1a1a1a;
$light-black: #303841;

$orange: #ffa500;
$red: #ff4949;

$border-color: #adadad;
$placeholder-color: #c9c9c9;
