.added-note {
	background-color: #fff;
	border-radius: 4px;
	padding: 1rem 1.6rem;
	max-width: 1000px;
	width: 95%;
	border: 3px solid #e4e4e4;
	margin-top: 2rem;
	position: relative;
	&__heading {
		margin-bottom: 1rem;
		color: $black;
		font-weight: 700;
		font-family: "Droid Sans", Arial, sans-serif;
	}
	&__content {
		font-style: italic;
		line-height: 1.8;
		color: #7f7f7f;
		margin: 0.5rem 0rem;
	}
	&__remove {
		position: absolute;
		top: 1rem;
		right: 1rem;
		cursor: pointer;
		color: #ff4949;
		font-weight: 700;
	}
	&--green {
		border-color: $green;
	}
	&--orange {
		border-color: $orange;
	}
	&--red {
		border-color: $red;
	}
}
